services:
  db-local:
    image: postgres:latest
    ports:
      - 5434:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bisa_basi
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

networks:
  shared_network:
    external: true
